/*#about{
  background: url(../../images/image6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}*/
.about{
  background-color: rgba(25, 100, 20);
}