
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  width: 100%;
  height: 100vh;
  background-color: rgb(63, 39, 39);
}
.appWrapper{
  text-align: center;
}
#product{
  color: coral;
}
@media screen and (max-width :1200px){
  #header, body{
    background-size: 1200px 100vh;
  }
  }
  @media screen and (max-width :992px){
    #header, body{
      background-size: 990px 100vh;
  }
  }
  @media screen and (max-width :768px){
    #header, body{
      background-size: 760px 100vh;
  }
}
@media screen and (max-width :576px){
  #header, body{
    background-size: 570px 100vh;
}
}
@media screen and (max-width :375px){
  #header, body{
    background-size: cover;
    width: 100%;
    text-align: center;
}
}