.business-container {
  display: block;
  justify-content: space-between;
}
#business{
text-align: center;
display: block;
}

.business-content {
  flex: 1;
}

.form-container {
  flex: 1;
}
/*form css*/

body {
  font-family: Arial, sans-serif;
}
.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #333;
  color: #ccc;
}
.form-item-radio-group {
  margin-bottom: 16px; /* Adjust margin as needed */
}