#product .col-md-3{
  padding-left: 0;
  padding-right: 0;

}
.imageContainer{
  position: relative;
  cursor: pointer;
  text-align: center;
}
.imgOverlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgb(240, 168, 26);
  opacity: 0;

}
.imageContainer:hover .imgOverlay{
  opacity: 0.8;
}
.imgText{
  position: absolute;
  color: black;
}

#product{
  background-color: rgb(255, 220, 61);
}
.img-fluid{
  width: 350px;
  height: 350px;
}