
.navbar-brand{
    font-size: 24px;
  }
  .nav-link{
    text-transform: uppercase;
  }
  .nav-link:hover{
    color:#23150c !important;
  }
  .navbar img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  